@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tektur:wght@400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
    font-family: 'Tektur', serif;

}
body{
    cursor:url("./asset/cursor/cursor-01.svg") 20 20,default;
}
a,button ,img{
    cursor:url("./asset//cursor/cursor-fuck-01.svg") 20 20,pointer;
}
